ul{
	list-style-type: none;
	margin-top:0px;
	margin-right: ;
	padding-right: 0px;
}

li {
	float: right;
	display:block;
}

#title {
	display: block;
    height:100px; width: 260px;
    right: 50%;
    margin-right: -130px;
    margin-top: 200px;
    position: fixed;
}

form{
	text-align: center;
}

input {
	width:550px; height:25px;
	/*text-align: center;*/
	margin:auto;
	margin-top: 20px;
	display: block;
	border:1px solid #72BCD4;
	padding-top: 2px; padding-bottom: 2px
}

#voice_icon {
	height:30px;
	width:30px;
	display:block;
	margin:auto;
	margin-top:-31px;
	margin-right: 525px;
}

.Search {
	width:105px;
	display: inline-block;
	font-size: 11px;
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
	font-weight: Strong;
	margin-right:10px;
	border-color: #d4d4d4;
	background-color: #ececec;
}